#いち{font-size: 30px;
   text-align: center;
   color: blue;}
#に{font-size: 50px;
   text-align: center;}
#空白{font-size: 50px;}
.マス{font-size: 100px;}
.マル{color: red;
      font-size: 100px;}
.バツ{color: blue;
      font-size: 100px;}