#いち{font-size: 80px;
   text-align: center;
   color: blue;}
#に{font-size: 40px;
   text-align: center;}
#空白{font-size: 55px;}
#マス1{font-size: 100px;}#マス2{font-size: 100px;}
#マス3{font-size: 100px;}#マス4{font-size: 100px;}
#マス5{font-size: 100px;}#マス6{font-size: 100px;}
#マス7{font-size: 100px;}#マス8{font-size: 100px;}
#マス9{font-size: 100px;}#マス10{font-size: 100px;}
#マス11{font-size: 100px;}#マス12{font-size: 100px;}
#マス13{font-size: 100px;}#マス14{font-size: 100px;}
#マス15{font-size: 100px;}#マス16{font-size: 100px;}
#マル1{font-size: 100px;color: red;}#マル2{font-size: 100px;color: red;}
#マル3{font-size: 100px;color: red;}#マル4{font-size: 100px;color: red;}
#マル5{font-size: 100px;color: red;}#マル6{font-size: 100px;color: red;}
#マル7{font-size: 100px;color: red;}#マル8{font-size: 100px;color: red;}
#マル9{font-size: 100px;color: red;}#マル10{font-size: 100px;color: red;}
#マル11{font-size: 100px;color: red;}#マル12{font-size: 100px;color: red;}
#マル13{font-size: 100px;color: red;}#マル14{font-size: 100px;color: red;}
#マル15{font-size: 100px;color: red;}#マル16{font-size: 100px;color: red;}
#バツ1{font-size: 100px;color: blue;}#バツ2{font-size: 100px;color: blue;}
#バツ3{font-size: 100px;color: blue;}#バツ4{font-size: 100px;color: blue;}
#バツ5{font-size: 100px;color: blue;}#バツ6{font-size: 100px;color: blue;}
#バツ7{font-size: 100px;color: blue;}#バツ8{font-size: 100px;color: blue;}
#バツ9{font-size: 100px;color: blue;}#バツ10{font-size: 100px;color: blue;}
#バツ11{font-size: 100px;color: blue;}#バツ12{font-size: 100px;color: blue;}
#バツ13{font-size: 100px;color: blue;}#バツ14{font-size: 100px;color: blue;}
#バツ15{font-size: 100px;color: blue;}#バツ16{font-size: 100px;color: blue;}

