#いち{font-size: 30px;
   text-align: center;
   color: blue;}
#に{font-size: 50px;
   text-align: center;}
#空白{font-size: 50px;}
#マス1{font-size: 100px;}
#マス2{font-size: 100px;}
#マス3{font-size: 100px;}
#マス4{font-size: 100px;}
#マス5{font-size: 100px;}
#マス6{font-size: 100px;}
#マス7{font-size: 100px;}
#マス8{font-size: 100px;}